community/termbases/*.jsonl merge=union
community/collections/*.jsonl merge=union
community/reviews/*.jsonl merge=union
community/master-dates/*.jsonl merge=union
community/tags/*.jsonl merge=union
community/translation-licenses/*.jsonl merge=union
